.TaskList {
  margin-left: 4vmin;
}

.TaskList ul {
  padding-left: inherit;
  width: 20%;
}

.TaskList .task-item {
  list-style: none;
}

.TaskList-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
